{% extends 'base.html' %}
{% block content %}
<style>
   
    .container{
        margin-top: 80px;
        clip-path: polygon(19% 0, 100% 0, 100% 60%, 92% 100%, 14% 100%, 0 88%, 0 21%);
        padding-bottom: 30px;
    }
    .container{
        padding:20px 20px;
        color: white;
        background: #403B4A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .card-text{
        display: inline-table;
        margin: 0px auto;
        clip-path: polygon(83% 0, 100% 20%, 100% 90%, 75% 100%, 12% 100%, 0 81%, 7% 0);
        width: 500px;
        background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
    ul li{
        margin: 10px 0px;
        font-size: 13px;
        list-style-type: none;
    }
</style>
<div class="container">
    
    <div class="row">
        <div class="col-lg-4 col-md-4" >
            <div style="text-align:center">
                <img src="{{profile.profile_pic.url}}"  alt="profile_pic" width="200px"  height="200px " style="border-radius: 50%;">
            </div>

        </div>
        <div class="col-md-6 col-lg-8">
            
            <div class="card-1 " >
            
                <div class="card-text " style="padding: 20px;">
                   <ul>
                    <li><strong><i class="fa fa-user-circle" aria-hidden="true"></i> Username:</strong> {{request.user.profile.user}}</li>
                    <li><strong><i class="fas fa-envelope-open"></i> Email: </strong> {{request.user.profile.email}}</li>
                    <li><strong><i class="fa fa-user-circle" aria-hidden="true"></i> Bio: </strong>{{request.user.profile.bio}}</li>
                    <li><strong><i class="fas fa-map-pin"></i> Location: </strong>{{request.user.profile.location}}</li>
                    <li><strong><i class="fas fa-city"></i> Neighborhood: </strong>{{request.user.profile.neighborhood}}</li><br>
                        <a class="btn btn-default text-center" onclick="toggleFunc()" style="border-radius: 25px; color:white;"target="_blank">Edit Profile</a><br><br>
    
                  </ul>
            </div>
            </div>
        </div>
    </div>
    <div id='form' style='display: none; text-align:center;' >
        <div class="card-text" style="padding: 0;">
            {{form.media}}
            <form  action="/my_profile" method="post" enctype="multipart/form-data">
                {%csrf_token%}

                {{form.as_p}}
                <input type="submit" class="btn btn-sm btn-default" value="update">
            </form>
        </div>
    </div>

</div><br><br>
<script>
    function toggleFunc() {
    var x = document.getElementById("form");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

{%endblock%}
