{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% block content %}
<style>
    body{
        background-color: rgb(0, 0, 0);
        margin: 0 60px;
      
    }
    .col-md-10{
      
      background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: blanchedalmond;
        padding:20px 40px;
    }
</style>
<div class="container-fluid">
  <div class="row">
    <div class='col-md-3' id='login'></div>
    <div class='col-md-7'>
    <div class="col-md-10">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3 class="text-center" >HOOD APP</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" style='width:100%' value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>
        </div>
        
      </div>
      <div class='panel text-center' style='padding:15px;'>Don't have an account? Register <a href="/register">here</a></div>
    </div>
    <!-- empty div -->
    <div class="col-md-4"></div></div>
  </div>
</div>

{% endblock %}